
section.about {
  /* background-color: #e8e8e8; */
  background-image: url("https://images.pexels.com/photos/932638/pexels-photo-932638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  padding-top:70px;
  /* opacity: 0.2 */
  /* filter: alpha(opacity=50); For IE8 and earlier */
  color:white
}
.images{
    position:absolute;
    z-index:-1;
    width: 100%;
    height: 100%;
}
.top{
    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 4.5s;
    animation-direction: alternate;
}
@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  50% {
    opacity:1;
  }
  70% {
    opacity:0.8;
  }
  80% {
    opacity:0.6;
  }
  100% {
    opacity:0;
  }
}

#cf4a img:nth-of-type(1) {
  animation-delay: 6s;
}
#cf4a img:nth-of-type(2) {
  animation-delay: 4s;
}
#cf4a img:nth-of-type(3) {
  animation-delay: 2s;
}
#cf4a img:nth-of-type(4) {
  animation-delay: 0;
}

/* section.introduction{
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
} */
section.introduction{
  position: relative; z-index: 0; background: none; top:0;color:white
}
#aboutme{
	/*background-color:#1a1a1a;*/
  color:white;
  font-family: "Oswald";
}
body {
  font-family: "Oswald";
  background-color: #166269 !important;
  color:#dce3df !important;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 100px;
  height: 10px;
  margin-top:20px;
  margin-left:14%;
  position:absolute;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}



div{
	margin-top: 0px;
	position:relative;
}
body{
	background-color: #264d73;
}
#navbar{
  color:black;
}
.navcolor{
  background-image: url("pexels-photo-450055.jpeg");
}
#menu ul li a{
  color:white;
}
#menu ul li:hover{
  background-color: #111 !important;
}
/*.navbar{
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;

}
.navbar ul {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  background-color: #333 !important;
}
#experience ul{
	list-style-type: none !important;
}
.navbar li {
  float: right !important;
  padding: 0px !important;
  height:50px !important;
}
.navbar li a {
  display: block !important;
  color: white !important;
  text-align: center !important;
  padding: 14px 16px !important;
  text-decoration: none !important;
}
.navbar li a:hover {
  background-color: #111 !important;
} */
#name{
	font-family: "Georgia" !important;
	float:left !important;
	color:red !important;
	padding-left: 30px !important;
	text-transform: uppercase !important;
}
span{
	font-size: 30px;
}
.viewheader-card{
	padding-left:12px;
}
#big{
	font-size:30px;
}
.view-item{
  display:flex;
  flex:row;
  /*color:black;*/
  font-weight:bold;
  /*padding-bottom: 10px;*/
}
.view-body{
  padding-top:-10px;
}
.view-item img{
  width:8px;
  padding: 3px;
}
.topOfInterests{
	display:flex;
	flex:row;

}
.rightInterest{
	position:absolute;
	margin-left:20%;
}
fieldset{
    border: 3px solid lightgray !important;
}
legend{
	font-size: 18px !important;
	color: #34a8eb !important;
	font-weight: bolder !important;
}
.resume{
	display:flex;
	flex:row;
}
.jobs button{
	background: none;
  border: none;
  padding: 0;
  color:aqua;
  font-weight:bold;
  margin-top:20%;
  width: fit-content;
}
.jobs button:hover{
	border-bottom: #34a8eb solid 2px;
}
#dropdown li{
	border-left: 3px solid black;
	padding-left: 6px;
	/*color:teal;*/
	font-weight:bold;
}
.csexplanation,.dentistexplanation{
	display:none;
}
#resumedate{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
#position{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#position span{
	font-size: 25px;
}
#velocityexplanation,#csexplanation, #dentistexplanation{
	/*color:teal;*/
}
#resumelist ul li{
	margin-top:5px;
	/*content:"\2764";*/
	list-style-image: url("icons8-japanese-bullet-train-16.png");

	display:list-item;
}
#green{
	font-family :'Courier New', Courier, monospace;
	color: aqua;
}
.nameinintro #big{
	font-size: 65px;
	color: white;
	font-weight: bold;
}
#gray{
	/*color: gray;*/
	font-size:55px;
}
.intro{
	margin-top: 5%;
	margin-left: 10%;
  width:45%;
}
section.inroduction{
  color:yellow
}
.introdescription{
	/*color:gray;*/
	font-size:21px;
	margin-top: 35px;
}
.getintouchbutton{
	margin-top: 60px;
	display:flex;
	flex:row;
	/* make everything inside getintouchbutton container side by side */
}
.number{
	margin-left: 30px;
}
.getintouchbutton a{
		border: 2px solid aqua;
		padding: 10px;
		text-decoration: none;
		color:aqua;

}
.getintouchbutton a:hover{
	/*background-color:gray;*/
}
#aboutme{
	font-size: 15px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-top: 130px;
	/*color:black;*/
}
#aboutme h2{
	font-size:50px;
	color: aqua;


}
#positionanddate{
	margin-left:10px;
}

#small{
	font-size:10px;

}
#projectheader{
	display:flex;
	flex:row;
}
#projectdesc{
	/*background-color: #004C99;*/
	margin-left:20px;
	padding:8px;
	display:inline-block;
	width:45%;
	/*color:gray;*/

}
#titleanddesc{
	/*color:teal;*/
}
.projectImage{
    animation-name: bounceInRight;
    animation-timing-function: ease-in-out;
    animation-duration: 4.5s;
}
.fromRight{
  animation-name: bounceInRight;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
}
.fromBottom{
  animation-name: bounceInBottom;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
}
.fromLeft{
  animation-name: bounceInLeft;
  animation-timing-function: ease-in-out;
  animation-duration: 2.5s;
}
.fadeInForResume{
  animation-name: fadeIn;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}
@keyframes fadeIn {
  0%{
    opacity:0
  }
  30%{
    opacity:0.3
  }
  60%{
    opacity:0.6
  }
  100%{
    opacity:1
  }
}
@keyframes bounceInLeft {
  0% {
     opacity: 0;
     transform: translateX(-2000px);
  }
  60% {
     opacity: 1;
     transform: translateX(30px);
  }
  80% {
     transform: translateX(-10px);
  }
  100% {
     transform: translateX(0);
  }
} 
@keyframes bounceInRight {
  0% {
     opacity: 0;
     transform: translateX(2000px);
  }
  60% {
     opacity: 1;
     transform: translateX(-30px);
  }
  80% {
     transform: translateX(10px);
  }
  100% {
     transform: translateX(0);
  }
} 
@keyframes bounceInBottom {
  0% {
     opacity: 0;
     transform: translateY(2000px);
  }
  60% {
     opacity: 1;
     transform: translateY(-30px);
  }
  80% {
     transform: translateY(10px);
  }
  100% {
     transform: translateY(0);
  }
} 
.hidden{
  display:none;
}


