section.about {
  /* background-color: #e8e8e8; */
  background-image: url("https://images.pexels.com/photos/2083840/pexels-photo-2083840.jpeg?cs=srgb&dl=scenic-view-of-city-during-dawn-2083840.jpg&fm=jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  width: auto;

  padding: 400px;
  /*opacity: 0.8;*/
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
body {
  background-color: #1a1a1a;
  color:teal;
  background-image: url("https://images.pexels.com/photos/2129814/pexels-photo-2129814.png?cs=srgb&dl=architecture-bridge-buildings-2129814.jpg&fm=jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
section.experience {
	background-color: #3d2766;
}
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 100px;
  height: 10px;
  margin-top:20px;
  margin-left:14%;
  position:absolute;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}


}
div{
	margin-top: 0px;
	position:relative;
}
body{
	background-color: #264d73;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;

}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#experience ul{
	list-style-type: none;
}
.navbar li {
  float: right;
  padding: 0px;
  height:50px;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover {
  background-color: #111;
}
#name{
	font-family: "Georgia";
	float:left;
	color:red;
	padding-left: 30px;
	text-transform: uppercase;
}
span{
	font-size: 30px;
}
.viewheader-card{
	padding-left:12px;
}
#big{
	font-size:30px;
}
.view-item{
  display:flex;
  flex:row;
  color:black;
  font-weight:bold;
  /*padding-bottom: 10px;*/
}
.view-body{
  padding-top:-10px;
}
.view-item img{
  width:8px;
  padding: 3px;
}
.topOfInterests{
	display:flex;
	flex:row;

}
.rightInterest{
	position:absolute;
	margin-left:20%;
}
fieldset{
    border: 3px solid lightgray;


}
legend{
	font-size: 18px;
	color: blue;
	font-weight: bolder;
}
.resume{
	display:flex;
	flex:row;
}
.resume button{
	background: none;
  border: none;
  padding: 0;
  	color:aqua;
  	font-weight:bold;
}
.resume button:hover{
	border-bottom: blue solid 2px;
}
#dropdown li{
	border-left: 3px solid black;
	padding-left: 6px;
	/*color:teal;*/
	font-weight:bold;
}
#csexplanation,#dentistexplanation{
	display:none;
}
#resumedate{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}
#position{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#position span{
	font-size: 25px;
}
#velocityexplanation,#csexplanation, #dentistexplanation{
	/*color:teal;*/
}
#resumelist ul li{
	margin-top:5px;
	/*content:"\2764";*/
	list-style-image: url("icons8-japanese-bullet-train-16.png");

	display:list-item;
}
#green{
	font-family :'Courier New', Courier, monospace;
	color: aqua;
}
.nameinintro #big{
	font-size: 65px;
	color: white;
	font-weight: bold;
}
#gray{
	/*color: gray;*/
	font-size:55px;
}
.intro{
	margin-top: 5%;
	margin-left: 10%;
	width:45%;
}
.introdescription{
	/*color:gray;*/
	font-size:21px;
	margin-top: 35px;
}
.getintouchbutton{
	margin-top: 60px;
	display:flex;
	flex:row;
	/* make everything inside getintouchbutton container side by side */
}
.number{
	margin-left: 30px;
}
.getintouchbutton a{
		border: 2px solid aqua;
		padding: 10px;
		text-decoration: none;
		color:aqua;

}
.getintouchbutton a:hover{
	/*background-color:gray;*/
}
#aboutme{
	font-size: 15px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-top: 130px;
	color:black;
}
#aboutme h2{
	font-size:50px;
	color: aqua;


}
#technologies{
	color:#2c1d38;
}
#positionanddate{
	margin-left:10px;
}

#small{
	font-size:10px;

}
#projectheader{
	display:flex;
	flex:row;
}
#projectdesc{
	/*background-color: #004C99;*/
	margin-left:20px;
	padding:8px;
	display:inline-block;
	width:45%;
	/*color:gray;*/

}
#titleanddesc{
	color:teal;
}
